<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Welcome (Next)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="card">
        <h1>🚀 Welcome to the Hipster Landing Page! 🚀</h1>
        <p>I'm baby truffaut trust fund flexitarian, fixie iPhone knausgaard air plant salvia plaid godard actually tumblr irony la croix 3 wolf moon. Cold-pressed unicorn DSA schlitz glossier fit polaroid knausgaard cliche irony gluten-free pitchfork. Austin tumeric everyday carry, try-hard crucifix marxism biodiesel XOXO irony. Next level celiac chia fixie bespoke fam forage. Farm-to-table roof party kogi master cleanse stumptown.</p>
    </div>
</body>
</html> 